.presentation{
    background: url('./img/фон3.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #c0c0c0;
    position: relative;
    margin-bottom: 25px;
}

.presentation::after{
    content: 'Вечная элегантность для вас';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

.presentation::before{
    content: 'Одевайте стиль, оставайтесь классическими!';
    position: absolute;
    top: 280px;
    left: 50px;
    width: 400px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.categories div{
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.categories div:hover{
    border-color: silver;
    transform: scale(1.1);
}

.full-item{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.8);
z-index: 9999;
overflow: auto;
}

.full-item > div{
width: 600px;
position: relative;
margin: 10% auto;
padding: 40px 30px;
background: #fff;
border-radius: 9px;
}

main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .item{
    width: 30%;
    margin-bottom: 7%;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 3%;
    /* УВЕЛИСТЬ БОКС ДЛЯ ТОВАРА */
}
main .item img,
.full-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}
main .item img:hover,
.full-item img:hover{
    transform: scale(1.05);
}
main h2, .full-item h2,
main p, .full-item p,
main b , .full-item b{
    margin: 10px 20px;
    color:#333
}
main b , .full-item b{
    color: #5fa36a;
}
main .add-to-cart,
.full-item .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}
main .add-to-cart:hover,
.full-item .add-to-cart:hover{
    transform: scale(1.5) translateY(-5px);  
}

.full-item .close-icon {

 position: absolute;
    top: -10px;
    right: -10px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
  }